Language: Cpp
BasedOnStyle: LLVM

UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
IndentCaseLabels: false
ColumnLimit: 240

SortIncludes: false
SortUsingDeclarations: false

CompactNamespaces: false
NamespaceIndentation: All
FixNamespaceComments: false
AlignTrailingComments: false

AllowShortIfStatementsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: false
Cpp11BracedListStyle: false